

.support_image {
    position: fixed;
    bottom:20px;
    right: 30px;
    z-index: 1;
    align-self: baseline;
}
#support_image:hover {
    transform: scale(1.05);
}

#support_image:active { 
    -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.botui-app-container {
    position: fixed;
    display: inline-block;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-color: grey;
    bottom:20px;
    right:30px;
    visibility: hidden;
    overflow: hidden;
    z-index: 1;
}
#allocablPrompt.show {
    visibility: visible;
    z-index: 1;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}