<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Help Center</h1>
    <p>Welcome back Customer!</p>
    <form name="logout" action="/login" method= "POST">
      <input type="submit" class = "btn" value="Log In as Guest"/>
  </form>

  </body>
</html>
