/* Global */
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: sans-serif;
	background-color: rgb(242,242,242);
}

a{
	display: block;
	text-decoration: none;
}

.container{
	max-width:  98rem;
	margin: 0 auto;
	padding: 0 2.2rem;
}
/* Header */
header{
	position: fixed;
	top: 0;
	z-index: 1400;
	width: 100%;
	height: 4.4rem;
	background-color: rgba(0,0,0,.8);
	backdrop-filter: blur(2rem);
}

.nav-list{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 -1rem;
}

.nav-list-mobile{
	display: none;
}

.nav-link{
	font-size: 1.4rem;
	color: #fff;
	padding: 0 1rem;
	transition: opacity .5s;
}

.nav-link:hover{
	opacity: .7;
}

.nav-link-apple{
	width: 1.6rem;
	height: 4.4rem;
	background: url("images/icons/apple.svg") center no-repeat;
}

.nav-link-search{
	width: 1.6rem;
	height: 4.4rem;
	background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag{
	width: 1.4rem;
	height: 4.4rem;
	background: url("images/icons/bag.svg") center no-repeat;
}

/* uPhone 11 pro section */
.uphone-11-pro{
	background: url("images/hero/iphone-11-pro/iphone11_pro.png");
	margin-top: 4.4rem;
}

.title-11-pro{
	color: #000;
	text-align: left;
	padding-top: 20.5rem;
}

.title-heading-11-pro{
	font-size: 2.65rem;
	line-height: 1.07143;
	letter-spacing: -0.005rem;
}

.title-sub-heading-11-pro{
	font-size: 3.65rem;
	margin-top: 1rem;
	letter-spacing: 0.008rem;
	font-weight: 400;
}

.title-price-11-pro{
	font-size: 1.7rem;
	color: #888;
	margin-top: 2rem;
}

.cta-11-pro{
	text-align: left;
	margin-top: 2.5rem;
}

.cta-link-11-pro{
	color: #66bbff;
	font-size: 2.1rem;
	display: inline-block;
}

.cta-link-11-pro:nth-child(2){
	margin-left: 2.6rem;
}

.cta-link-11-pro:hover{
	border-bottom: 2px solid #66bbff;
}

/*uPhone 11 section */
.uphone-11{
	background: url("images/hero/iphone-11/iphone11.png");
}

.title-dark-11{
	color: #000;
}

.title-11{
	color: #000;
	text-align: left;
	padding-top: 20.5rem;
	padding-left: 60rem;
}

.title-heading-11{
	font-size: 2.65rem;
	line-height: 1.07143;
	letter-spacing: -0.005rem;
}

.title-sub-heading-11{
	font-size: 3.65rem;
	margin-top: 1rem;
	letter-spacing: 0.008rem;
	font-weight: 400;
}

.title-price-11{
	font-size: 1.7rem;
	color: #888;
	margin-top: 2rem;
}

.cta-11{
	text-align: left;
	margin-top: 2.5rem;
	padding-left: 60rem;
}

.cta-link-11{
	color: #0070c9;
	font-size: 2.1rem;
	display: inline-block;
}

.cta-link-11:nth-child(2){
	margin-left: 2.6rem;
}

.cta-link-11:hover{
	border-bottom: 2px solid #0070c9;
}

/* Move to the bottom of all section styles to keep consistent styles */
.hero{
	height: 69.2rem;
	background-size: auto 73.6rem;
	background-position: center;
	background-repeat: no-repeat;
	border-top: .6rem solid #fff;
	border-bottom: .6rem solid #fff;
}

.iphone-11-pro{
	border-top: none;
}

/* End */